body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    width: 90%;
    max-width: 1200px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 30px;
}

header h1 {
    flex-grow:1;
    margin: 0;
    color: #333;
}

.logout-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-btn {
    margin-right:10px;
     background-color: #218838;
}

.content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    min-width: 200px;
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
    margin: 0 0 15px;
}

.card p {
    font-size: 2em;
    margin: 0;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.package-management {
    margin-top: 40px;
}

.package-management h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

form {
    flex: 1;
    min-width: 300px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form h3 {
    margin-bottom: 15px;
    color: #333;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
